# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Environnements virtuels
.venv/
venv/
env/
ENV/

# Outils / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Fichiers locaux
*.log
.env
